<section class="hero" id="accueil">
        <div class="hero-content">
            <div class="hero-badge">
                <i class="fas fa-star"></i> Bienvenue à la maison
            </div>
            <h1 class="hero-title">
                Une Église qui <br>Accélère Votre Destinée
            </h1>
            <p class="hero-subtitle">
                Découvrez une communauté passionnée de Dieu qui vit l'Évangile et impacte sa génération.
            </p>


            <div class="hero-actions">

                <div style="position: relative; aspect-ratio: 16/9;">
                    <iframe width="450" height="250" src="https://www.youtube.com/embed/LZnhiA0F7h8?si=Zkd0shqp5sk9FXfo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div style="position: relative; aspect-ratio: 16/9;">
                <iframe width="450" height="250" src="https://www.youtube.com/embed/ldG0vbXz7vQ?si=sGbZL2vS1F62gvfq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <!--
                <a href="https://www.youtube.com/@eglisepropulsiontv3678" target="_blank" class="btn btn-primary">
                    <i class="fas fa-play-circle"></i> Découvrir
                </a> -->

            </div>
        </div>
    </section>