<style>
    .video-container {
    position: relative;
    width: 100%;
    max-width: 450px;
    aspect-ratio: 16/9;
    margin: 0 auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.hero-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}
</style>

<section class="hero" id="accueil">
    <div class="hero-content">
        <div class="hero-badge">
            <i class="fas fa-star"></i> Bienvenue à la maison
        </div>
        <h1 class="hero-title">
            Une Église qui <br>Accélère Votre Destinée
        </h1>
        <p class="hero-subtitle">
            Découvrez une communauté passionnée de Dieu qui vit l'Évangile et impacte sa génération.
        </p>

        <div class="hero-actions">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/LZnhiA0F7h8?si=Zkd0shqp5sk9FXfo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/ldG0vbXz7vQ?si=sGbZL2vS1F62gvfq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>